---
layout: layouts/root.njk
---

{% from 'macros/unwrap_links.njk' import unwrap_links %}

<article>
    <p>I'm Alex, a.k.a. rivst. I research how transformations happen in higher education systems and how technology
        can help humans learn better. This site documents my research, ideas, and ongoing projects.</p>
    <hr />
</article>