---
layout: layouts/root.njk
---

{% from 'macros/unwrap_links.njk' import unwrap_links %}

<article>
    <p>I'm Alex, a.k.a. rivst. I research how transformations happen in higher education and how technology can help
        humans learn better. This site documents my research, ideas, and ongoing projects.
    </p>
    <h3>Current projects</h3>
    <p>
        I work on a number of projects at <a href="https://www.luna.sbs/">Luna Institute</a>, namely █████,
        █████, and █████ (all on hold for now). Also, you can read the Sovereign Education Technology Manifesto <a
            href="https://www.luna.sbs/manifesto/">here</a>.
    </p><br />
    <p>
        Currently building <a href="https://github.com/0xrivst/hotaru">hotaru</a>, a decentralized anonymous image board
        on top of BitTorrent protocol and <a href="https://github.com/nanomarkdown">nanomarkdown</a>, semantic markdown
        for structured writing.
    </p>
    <h3>Contact</h3>
    <p>
        If you have any questions, suggestions, or just want to chat, you can send your message to the address below.
        Unless you're a scammer or a bot, I will reply withing 2 business days.
    </p><br />
    <img src="/email.png" width="222px" alt="my email" />
</article>