---
title: rivst
---

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="rivst's personal web site" />
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <title>{{ title }}
        {% if subtitle %}
        | {{ subtitle }}
        {% endif %}
    </title>
</head>

<body>
    <div id="wrapper">
        <div id="open"><span id="open-icon"></span><span class="open-text">menu</span></div>
        <header>
            <div id="header-inner">
                <h1><span><a href="/">rivst</a></span></h1>
                my home page on the world wide web
            </div>
        </header>
        <div id="contents" class="cf">
            <div id="rightcolumn-wrap">
                <div id="rightcolumn" style="min-height: 544px;">
                    {{ content | safe }}
                </div>
            </div>
            <div id="side-bg"></div>
            <div id="leftcolumn-wrap">
                <div id="leftcolumn" style="padding-top: 91px;">
                    <h2>Menu</h2>
                    <div id="menu">
                        <nav>
                            <ul>
                                {% for link in nav_links %}
                                <li><a href="{{link.href}}">{{link.anchor}}</a></li>
                                {% endfor %}
                                {# Sub-menu example for later #}
                                {# <li><span>Other</span>
                                    <ul class="sub-menu">
                                        <li><a href="#">サブメニュー1</a>
                                        </li>
                                        <li><a href="#">サブメニュー2</a>
                                        </li>
                                    </ul>

                                </li> #}
                            </ul>
                        </nav>
                    </div>
                    <aside>
                        <h2>Update</h2>
                        <em>UNDER CONSTRUCTION</em>
                    </aside>
                </div>
            </div>
            <footer>
                <div id="footer-inner">
                    <div id="fl">Design by<a href="http://foollovers.com" target="_blank">FOOL LOVE<span>R</span>S</a>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <a href="#" id="pagetop" style="bottom: -80px; right: 20px;"><span class="arrow"></span></a>
</body>

</html>