---
title: rivst
---

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="rivst's personal web site" />
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <title>{{ title }}
        {% if subtitle %}
        | {{ subtitle }}
        {% endif %}
    </title>
</head>

<body>
    <div id="wrapper">
        <div id="open"><span id="open-icon"></span><span class="open-text">menu</span></div>
        <header>
            <div id="header-inner">
                <h1><span><a href="/">rivst</a></span></h1>
                my home page on the world wide web
            </div>
        </header>
        <div id="contents" class="cf">
            <div id="rightcolumn-wrap">
                <div id="rightcolumn" style="min-height: 544px;">
                    {{ content | safe }}
                </div>
            </div>
            <!-- ▼左側▼ -->
            <div id="side-bg"></div>
            <div id="leftcolumn-wrap">
                <div id="leftcolumn" style="padding-top: 91px;">

                    <!-- ▼メニュー▼ -->
                    <h2>Menu</h2>
                    <div id="menu">
                        <nav>
                            <ul>

                                <li><a href="index2.html">Top</a>
                                </li>
                                <li><a href="#link">Link</a>
                                </li>
                                <li><a href="#novel">Novel</a>
                                </li>
                                <li><a href="sample.html">sample01</a>
                                </li>
                                <li><a href="sample02.html">sample02</a>

                                </li>
                                <li><span>Illust</span>
                                    <ul class="sub-menu">
                                        <li><a href="#">サブメニュー1</a>
                                        </li>
                                        <li><a href="#">サブメニュー2</a>
                                        </li>
                                        <li><a href="#">サブメニュー3</a>
                                        </li>
                                    </ul>

                                </li>
                                <li><span>Other</span>
                                    <ul class="sub-menu">
                                        <li><a href="#">サブメニュー1</a>
                                        </li>
                                        <li><a href="#">サブメニュー2</a>
                                        </li>
                                    </ul>

                                </li>
                                <li><a href="#">About(工事中)</a>

                                </li>
                            </ul>
                        </nav>
                    </div>
                    <!-- ▲メニュー▲ -->

                    <aside>

                        <h2>Update</h2>
                        <!-- テキストエリア -->
                        <textarea rows="3" cols="20">20**/8/16 up
</textarea>

                        <h2>Link</h2>

                        SITE NAME:<br>MASTER:<br>URL:<br>
                        <a href="#"><img src="image/banner200.gif" alt="banner" width="200" height="40"></a><br><br>

                        <a href="#">テキストリンク</a><br>
                        <a href="#">テキストリンク</a><br>
                        <a href="#">テキストリンク</a>

                    </aside>

                </div>
            </div>
            <footer>
                <div id="footer-inner">
                    <div id="fl">Design by<a href="http://foollovers.com" target="_blank">FOOL LOVE<span>R</span>S</a>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <a href="#" id="pagetop" style="bottom: -80px; right: 20px;"><span class="arrow"></span></a>
</body>

</html>